<div aria-hidden="true"
     aria-labelledby="modalLabel"
     class="modal fade"
     tabindex="-1"
     th:fragment="deletefile (file, modalId)"
     th:id="${'deleteFileModal' + modalId}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalLabel">Delete file</h1>
                <button aria-label="Close"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        type="button"></button>
            </div>
            <form th:action="@{/file}"
                  th:method="delete">
                <div class="modal-body">
                    <div>Do you really want to delete the file '<span th:text="${file.name()}"></span>'?</div>
                    <input name="path"
                           th:value="${file.path()}"
                           type="hidden">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary"
                            th:id="${'deleteFileButton' + modalId}"
                            type="submit">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>