<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>Cloud storage</title>
</head>
<body>

<nav class="navbar navbar-light bg-light justify-content-center">
    <div class="d-flex align-items-center gap-3">
        <div th:text="${#authentication.name}"></div>
        <form th:action="@{/auth/signout}" th:method="POST">
            <input class="btn btn-primary"
                   type="submit"
                   value="Sign out">
        </form>
    </div>
</nav>

<div class="container d-flex justify-content-center gap-3 my-4"
     style="max-width: 80rem">
    <div class="container">

        <!-- Search -->
        <div class="d-flex justify-content-center">
            <form class="d-flex align-items-center"
                  th:action="@{/search}"
                  th:method="get">
                <input aria-label="Search"
                       class="form-control"
                       id="query"
                       name="query"
                       placeholder="Search"
                       required
                       th:value="${query}"
                       type="text">
                <a class="btn-close mx-2" th:href="@{/}" title="Clear"></a>
                <button class="btn btn-link fs-5" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>

        <div class="d-flex align-items-center gap-3">
            <a class="btn btn-link text-decoration-none bi bi-house fs-4"
               th:href="@{/}"></a>

            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="flex-grow-1 overflow-x-scroll">
                <ol class="breadcrumb my-2">
                    <li th:class="|breadcrumb-item text-nowrap ${breadcrumb.active() ? 'active' : ''}|"
                        th:if="${breadcrumbs}"
                        th:each="breadcrumb : ${breadcrumbs}">
                        <a class="text-decoration-none"
                           th:href="@{/(path=${breadcrumb.path()})}"
                           th:text="${breadcrumb.label()}"
                           th:unless="${breadcrumb.active()}"></a>
                        <span th:if="${breadcrumb.active()}"
                              th:text="${breadcrumb.label()}"></span>
                    </li>
                </ol>
            </nav>

            <!-- Add folder, upload file buttons -->
            <div class="d-flex" th:unless="${query}">
                <div th:replace="~{modals/create-folder (${path})}"></div>
                <div th:replace="~{modals/upload-file (${path})}"></div>
                <button class="btn btn-link" data-bs-target="#createFolderModal" data-bs-toggle="modal"
                        type="button">
                    <i class="bi bi-folder-plus fs-5"></i>
                </button>
                <button class="btn btn-link" data-bs-target="#uploadFileModal" data-bs-toggle="modal"
                        type="button">
                    <i class="bi bi-file-earmark-plus fs-5"></i>
                </button>
            </div>
        </div>

        <div class="container text-center">
            <!-- Headers -->
            <div class="row text-body-tertiary border-bottom">
                <strong class="col">Name</strong>
                <strong class="col-2">Size</strong>
                <strong class="col-3">Modified</strong>
                <strong class="col-auto p-0">
                    <a class="btn btn-link bi bi-three-dots-vertical opacity-0 disabled"></a>
                </strong>
            </div>

            <!-- Parent folder button -->
            <div class="row border-bottom" th:if="${path}">
                <div class="col text-start position-relative p-0">
                    <a class="btn btn-link bi bi-arrow-90deg-left stretched-link"
                       th:href="${parentFolderPath} ? @{/(path=${parentFolderPath})} : @{/}"></a>
                </div>
            </div>

            <!-- Folders -->
            <div class="row border-bottom py-0 align-items-center justify-content-between"
                 th:each="folder,status : ${content.folders()}">

                <div class="col-auto"><i class="bi bi-folder"></i></div>

                <div class="col text-start position-relative overflow-x-auto">
                    <a class="flex-grow-1 text-decoration-none text-truncate stretched-link"
                       th:href="@{/(path=${folder.path()})}"
                       th:text="${query == null ? folder.name() : folder.path()}"></a>
                </div>

                <div class="col-2 text-dark-emphasis">-</div>
                <div class="col-3 text-dark-emphasis">-</div>

                <!-- Actions -->
                <div th:replace="~{modals/rename-folder :: renamefolder(${folder},${status.index})}"></div>
                <div th:replace="~{modals/delete-folder :: deletefolder(${folder},${status.index})}"></div>
                <div class="col-auto p-0 btn-group dropup">
                    <button aria-expanded="false"
                            class="btn btn-link"
                            data-bs-toggle="dropdown"
                            type="button">
                        <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="d-flex justify-content-center">

                            <!-- Open parent folder button -->
                            <a class="btn btn-link bi bi-arrow-90deg-up"
                               th:href="${parentPath} ? @{/(path=${parentPath})} : @{/}"
                               th:if="${query}"
                               th:with="parentPath = ${folder.parentFolderPath()}"></a>

                            <!-- Rename button -->
                            <button class="btn btn-link"
                                    data-bs-toggle="modal"
                                    th:data-bs-target="|#renameFolderModal${status.index}|"
                                    type="button">
                                <i class="bi bi-pencil"></i>
                            </button>

                            <!-- Delete button -->
                            <button class="btn text-danger"
                                    data-bs-toggle="modal"
                                    th:data-bs-target="|#deleteFolderModal${status.index}|"
                                    type="button">
                                <i class="bi bi-trash"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Files -->
            <div class="row border-bottom py-0 align-items-center justify-content-between"
                 th:each="file,status : ${content.files()}">

                <div class="col-auto"><i class="bi bi-file-earmark text-dark-emphasis"></i></div>

                <div class="col text-start flex-grow-1 text-truncate text-dark-emphasis overflow-x-auto"
                     th:text="${query == null ? file.name() : file.path()}"></div>

                <!-- Size -->
                <div class="col-2 text-dark-emphasis"
                     th:text="${file.size()}"></div>

                <!-- Modified -->
                <div class="col-3 text-dark-emphasis"
                     th:text="${#temporals.format(file.modifiedAt(), 'dd-MM-yyyy HH:mm')}"></div>

                <!-- Actions -->
                <div th:replace="~{modals/rename-file :: renamefile(${file},${status.index})}"></div>
                <div th:replace="~{modals/delete-file :: deletefile(${file},${status.index})}"></div>
                <div class="col-auto p-0 btn-group dropup">
                    <button aria-expanded="false"
                            class="btn btn-link"
                            data-bs-toggle="dropdown"
                            type="button">
                        <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="d-flex justify-content-center">

                            <!-- Download button -->
                            <a class="btn btn-link bi bi-download"
                               th:href="@{/file(path=${file.path()})}"></a>

                            <!-- Open folder button -->
                            <a class="btn btn-link bi bi-folder-symlink"
                               th:href="${folderPath} ? @{/(path=${folderPath})} : @{/}"
                               th:if="${query}"
                               th:with="folderPath = ${file.folderPath()}"></a>

                            <!-- Rename button -->
                            <button class="btn btn-link"
                                    data-bs-toggle="modal"
                                    th:data-bs-target="|#renameFileModal${status.index}|"
                                    type="button">
                                <i class="bi bi-pencil"></i>
                            </button>

                            <!-- Delete button -->
                            <button class="btn text-danger"
                                    data-bs-toggle="modal"
                                    th:data-bs-target="|#deleteFileModal${status.index}"
                                    type="button">
                                <i class="bi bi-trash"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Error toast -->
<div aria-atomic="true"
     aria-live="assertive"
     class="toast show position-fixed top-0 end-0 m-3"
     role="alert"
     th:if="${error}">
    <div class="toast-header">
        <i class="bi bi-exclamation-circle text-danger me-2"></i>
        <strong class="me-auto">Error</strong>
        <button aria-label="Close"
                class="btn-close"
                data-bs-dismiss="toast"
                type="button">
        </button>
    </div>
    <div class="toast-body" th:text="${error}"></div>
</div>

<!-- Add modal listeners -->
<script th:inline="javascript">
    /*<![CDATA[*/
    const folders = /*[[${content.folders()}]]*/ [];
    const files = /*[[${content.files()}]]*/ [];

    folders.forEach((folder, index) => {
        document.getElementById('renameFolderModal' + index).addEventListener('shown.bs.modal', () => {
            const newNameInput = document.getElementById('newFolderNameInput' + index)
            newNameInput.focus();
            newNameInput.setSelectionRange(newNameInput.value.length, newNameInput.value.length);
        });
        document.getElementById('deleteFolderModal' + index).addEventListener('shown.bs.modal', () => {
            document.getElementById('deleteFolderButton' + index).focus();
        });
    })

    files.forEach((file, index) => {
        document.getElementById('renameFileModal' + index).addEventListener('shown.bs.modal', () => {
            const newNameInput = document.getElementById('newFileNameInput' + index)
            newNameInput.focus();
            newNameInput.setSelectionRange(newNameInput.value.length, newNameInput.value.length);
        });
        document.getElementById('deleteFileModal' + index).addEventListener('shown.bs.modal', () => {
            document.getElementById('deleteFileButton' + index).focus();
        });
    })

    document.getElementById('createFolderModal').addEventListener('shown.bs.modal', () => {
        document.getElementById('name').focus()
    })

    document.getElementById('uploadFileModal').addEventListener('shown.bs.modal', () => {
        document.getElementById('file').focus()
    })
    /*]]>*/
</script>
</body>
</html>