.drop-zone {
    align-items: center;
    border-radius: 10px;
    border-style: dashed;
    border-width: thick;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    height: 400px;
    justify-content: center;
    margin: 20px;
    text-align: center;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    height: 0;
    width: 0;
}

.drop-zone__thumb {
    background-size: cover;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.drop-zone__thumb::after {
    background: rgba(0, 0, 0, 0.75);
    bottom: 0;
    color: #ffffff;
    content: attr(data-label);
    font-size: 14px;
    left: 0;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}